* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*NAVIGATION BAR*/

nav {
  padding-top: 32px;
  display: flex;
  padding-left: 8px;
  }


.nav__links {
  display: flex;
  align-items:
}

.nav__logo--image {
 height: 40px;
 width: 40px;
}

.nav__logo--title {
  font-weight: 800px;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}