* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*NAVIGATION BAR*/

nav {
  padding-top: 32px;
  display: flex;
}
.nav__logo--image {
  height: 100px;
  display: flex;
  align-items: center;
  
}

.nav__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav__link {
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}



  
